.paragraphContentRowContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  font-size: 1rem;
}
.paragraphContentRowContainer p{
    padding: 0.1rem;
    border: 2px dashed transparent;
    transition: border 0.3s ease;
}
.paragraphContentRowContainer p:hover{
    border: 2px dashed #000;
}