.paragraphContentColumnContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  font-size: 1rem;
  margin-top: 2rem;
  overflow: auto;
}

.paragraphColumn {
  padding: 0.1rem;
  border: 2px dashed transparent;
  transition: border 0.3s ease;
}
.paragraphColumn:hover {
  border: 2px dashed #000;
}
@media screen and (max-width: 1328px) {
  .paragraphContentColumnContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
