.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 6rem 1rem 6rem;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 200;
}
.titleBox {
  grid-column: 1 / span 3;
  grid-row: 1;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
}

.preludeWrapper {
  /* width: 160%; */
  width: clamp(100%, 160%, 62.5rem);
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.rowTop {
  display: grid;
  grid-template-columns: 33.5% 33.5% 33%;
  grid-template-rows: auto 1fr;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 60rem;
}

.rowTopLeft {
  grid-column: 1 / 2;
  grid-row: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2rem 2rem 0;
}

.rowTopRight {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rowBottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
}

@media (min-width: 576px) and (max-width: 767px) {
  .pageContainer {
    padding: 1rem 4rem 1rem 4rem;
  }
}
@media (max-width: 575px) {
  .pageContainer {
    padding: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .rowTop {
    grid-template-columns: 43.5% 23.5% 33%;
    grid-template-rows: auto 1fr;
  }
}

@media (max-width: 1328px) {
  .rowTop {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    min-height: auto;
  }
.preludeWrapper {
  width: 100%;
}
  .rowTopRight {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .titleBox {
    order: 2;
    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .rowTopLeft {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    width: 100%;
    height: auto;
  }
}
